@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0ef;
  --darkBlue: #04091e;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-size: 1rem;
  background: var(--darkBlue);
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  scroll-behavior: smooth;
  transition: all 2s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232531;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ef;
}

body::-webkit-scrollbar, .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.slide-cont {
  perspective: 200px;
}

.slide {
  transform: rotateY(-5deg);
}

.current-slide {
  scale: 1.2;
  transition: .5s;
}

.top {
  /* clip-path: path("M0,50 Q250,0 500,50 L500,0 L0,0 Z"); */
  clip-path: path("M0,30 Q250,0 500,30 L500,0 L0,0 Z");
}

.bottom {
  clip-path: path("M0,10 Q250,-10 500,20 L500,300 L0,300 Z");
}










