@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0ef;
  --darkBlue: #04091e;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-size: 1rem;
  background: var(--darkBlue);
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  scroll-behavior: smooth;
  transition: all 2s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232531;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0ef;
}

body::-webkit-scrollbar, .no-scrollbar::-webkit-scrollbar {
  display: none;
}








